<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>مموریز، با مموریز ساده یاد بگیر</title>
    <meta name="description" content="با مموریز ساده و قانونمند یاد بگیرید، یه مسیر کوتاه و دوست داشتنی تا موفقیت" />
    <meta name="keywords" content="مموریز, تقویت حافظه, آموزش لغات, آموزش زبان, یادگیری آسان, حافظه بلند مدت, آموزش با کارت, یادگیری با کارت های حافظه, کارت های یادگیری, memoriz, memoriz app" />
    <meta name="author" content="رهیافت هوشمند آریابان, مموریز" />
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="logo.png" rel="icon" type="image/png">

    <link href="css/uicon.css" rel="stylesheet" type="text/css">
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    <link href="css/animations.css" rel="stylesheet" />
    <link href="css/gallery.css" rel="stylesheet" />
    <link href="css/gallery.theme.css" rel="stylesheet" />
    
    <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    
    <!--[if lt IE 8]>
      <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- <script src="../bower_components/jquery/dist/jquery.js"></script> -->
    <script src="js/jquery.js"></script>
    <!-- <script src="../bower_components/modernizr/src/Modernizr.js"></script> -->
    <!-- <script src="js/modernizr.js"></script> -->
    <script src="js/modernizr.custom.js"></script>
    
    <script src="scripts/tooltip.js"></script>
    <script src="js/jquery.remodal.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90613592-1', 'auto');
      ga('send', 'pageview');

    </script>
    
</head>
<body class="bodyBack">

<notify> <!-- notify place show -->
</notify> <!-- /notify place show -->
 
<notify-fix> <!-- notify-fix place show -->
</notify-fix> <!-- /notify-fix place show -->

<!--<section class="loader" style="display: none;">-->
<!--
<section class="loader">
    <ul class="bokeh">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="loaderTxt">لطفا شکیبا باشید ...!</div>
</section>
-->
    
<div class="full blockHeader">
    <div class="col12">
    <div id="gn-menu" class="col1">
        <a class="btnMenuHamSmall">
            <span class="icon" data-icon="&#xe419;"></span>
        </a>
        
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe22b;"></span>
                                    <span class="gnmenuTxt">صفحه نخست</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe070;"></span>
                                    <span class="gnmenuTxt">پروفایل من</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe016;"></span>
                                    <span class="gnmenuTxt">کارت های ذخیره شده</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe1e2;"></span>
                                    <span class="gnmenuTxt">فیلترینگ دسته های من</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe1e1;"></span>
                                    <span class="gnmenuTxt">دسته های موجود</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe39c;"></span>
                                    <span class="gnmenuTxt">دریافت مستقیم برنامه</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe062;"></span>
                                    <span class="gnmenuTxt">تغییر کلمه عبور</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe265;"></span>
                                    <span class="gnmenuTxt">خروج از سیستم</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
        
    </div>
    <div class="col4">
        <div class="headerSlang">
            <span class="headerImg"><img src="images/memoriz.svg"></span>
            <span class="headerTxt">با مموریز ساده یاد بگیر</span>
        </div>
    </div>
    <div class="col2">
        <div class="headerLogo">
            <img src="images/memoriz logo icon.svg">
        </div>
    </div>
    <div class="col5">
        <div class="col blockHeaderBtnLogout">
            <a href="#" class="btnMenuModeSmallLogout">
                <span class="icon" data-icon="&#xe265;"></span>
            </a>
        </div>
        <div class="col blockHeaderBtnUser">
           <a href="#" class="btnMenuModeSmallIcon">
               <span class="icon" data-icon="&#xe22b;"></span>
            </a>
        </div>
        <div class="col blockHeaderBtnUser">
           <a href="#" class="btnMenuModeUserNo">
               <span class="icon" data-icon="&#xe070;"></span>
               <span class="txt">09121087533</span>
            </a>
        </div>
    </div>
    </div>
</div> 
    
<div class="row blockContentNew">
    
    <div class="limit">
        <div class="row block">
        
            <ul class="packCatFilteringPlace">



                <li class="packCatFiltering select">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                
            </ul>
        
        </div>
    </div>    

    <div class="limit">
    	<div class="row block">
            <div class="row">
                <div class="rowSelectDefault">
                    <div class="col3 search-filter">
                        <ul>
                            <li class="parent-Cat" ng-repeat="catItem in allCategory">
                                <h1 class="heading">زبان</h1>
                                <ul class="Category">
                                    <li>
                                       
                                        <a class="parent-layer2">
                                        <span class="txt">زبان انگلیسی</span>
                                        <span class="number">(12)</span>
                                        </a>
                                        <ul class="child">
                                            <li>
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">گرامر</span>
                                                
                                                </a>
                                            </li>
                                            <li>
                                                
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">لغت</span>
                                               
                                                </a>
                                                <a class="more" href=""><i class="icon icon-plus"></i>بیشتر</a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a class="parent-layer2">
                                        <span class="txt">زبان فرانسه</span>
                                        <span class="number">(1022)</span>
                                        </a>

                                        <ul class="child">
                                            <li>
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">گرامر</span>
                                                <span class="number"></span>
                                                </a>
                                            </li>
                                            <li>
                                                
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">لغت</span>
                                                <span class="number"></span>
                                                </a>
                                                <a class="more" href=""><i class="icon icon-plus"></i>بیشتر</a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    
                                    <li calss="parent-layer2">

                                    </li>
                                </ul>
                            </li>
                            <li class="parent-Cat" ng-repeat="catItem in allCategory">
                                <h1 class="heading">زبان</h1>
                                <ul class="Category">
                                    <li>
                                       
                                        <a class="parent-layer2">
                                        <span class="txt">زبان انگلیسی</span>
                                        <span class="number">(12)</span>
                                        </a>
                                        <ul class="child">
                                            <li>
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">گرامر</span>
                                                
                                                </a>
                                            </li>
                                            <li>
                                                
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">لغت</span>
                                               
                                                </a>
                                                <a class="more" href=""><i class="icon icon-plus"></i>بیشتر</a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a class="parent-layer2">
                                        <span class="txt">زبان فرانسه</span>
                                        <span class="number">(1022)</span>
                                        </a>

                                        <ul class="child">
                                            <li>
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">گرامر</span>
                                                <span class="number"></span>
                                                </a>
                                            </li>
                                            <li>
                                                
                                                <a href="" ng-repeat="catItemChild in catItemTag.childs">
                                                <span class="txt">لغت</span>
                                                <span class="number"></span>
                                                </a>
                                                <a class="more" href=""><i class="icon icon-plus"></i>بیشتر</a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    
                                    <li calss="parent-layer2">

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col9">
                        <div class="content-filter-topbar">
                            <div class="row">
                                <div class="col6 site-map">
                                    <ul>
                                        <li>گروه زبان</li>
                                        <li class="sep">
                                            <img src="images/patharrow.png" alt="">
                                        </li>
                                        <li>زبان انگلیسی</li>
                                        <li class="sep">
                                            <img src="images/patharrow.png" alt="">
                                        </li>
                                        <li>لغت</li>
                                    </ul>
                                </div>
                                <div class="col6">
                                    <div class="col10 inputSearchContentPlace">
                                        <input class="inputSearchContent" placeholder="جستجو">
                                        <span class="icon" data-icon=""></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row filter-select">
                                <div class="col6">
                                   <div class="row">
                                        <div class="col4">
                                            <div class="dropdownDefaultT">
                                                <select class="formInputDefaultT">
                                                    <option>رنک</option>
                                                    <option>2</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col4">
                                            <div class="dropdownDefaultT">
                                                <select class="formInputDefaultT">
                                                    <option>موضوع</option>
                                                    <option>2</option>

                                                </select>
                                            </div>
                                        </div>
                                   </div>   
                                </div>
                                <div class="col6">
                                    <div class="result-counts">
                                        <span><strong>753</strong> دسته</span> 
                                        <span><strong>25,384</strong> کارت </span>
                                    </div>
                                    
                                </div>
                               
                            </div>
                            <div class="filter-tag">
                                <ul >
                                    <li>
                                        <a href="#" class="filter-tag-item">
                                            زبان
                                            <span class="icon" data-icon=""></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="filter-tag-item">
                                            504 واژه
                                            <span class="icon" data-icon=""></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row contentPlaceNew">
                    
                            
                                
                                
                                
                                <ul class="row contentCardSave">
                                    <li>
                                        <div class="col cardItemInfo">
                                            <div class="row">
                                                <div class="panelHomePackPic"><div class="itemImg" style="background-image: url(images/1.jpg)"></div></div>
                                                <div class="row panelHomePackTitle">نام بسته</div>
                                                <div class="row panelHomePackDesc2">
                                                    توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col cardItem">
                                            جای مطالب روی کارت
                                        </div>
                                        <div class="col cardItemBack">
                                            جای مطالب پشت کارت
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col cardItemInfo">
                                        </div>
                                        <div class="col cardItem">
                                            جای مطالب روی کارت
                                        </div>
                                        <div class="col cardItemBack">
                                            جای مطالب پشت کارت
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col cardItemInfo">
                                            <div class="row">
                                                <div class="panelHomePackPic"><div class="itemImg" style="background-image: url(images/1.jpg)"></div></div>
                                                <div class="row panelHomePackTitle">نام بسته</div>
                                                <div class="row panelHomePackDesc2">
                                                    توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col cardItem">
                                            جای مطالب روی کارت
                                        </div>
                                        <div class="col cardItemBack">
                                            جای مطالب پشت کارت
                                        </div>
                                    </li>
                                    <a class="col12 cardItemMore btnDefault btnTosi">
                                        <span class="txt"><span class="icon" data-icon="&#xe00a;"></span> بیشتر</span>
                                    </a>
                                
                                
                                
                                
                                </ul>
                                
                                
                                
                                
                                
                        
                                
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="limit">
        <div class="row block">
            <div class="col12 blockLFooterType">
                تمامی حقوق محفوظ میباشد و متعلق به موسسه است، توسعه و پیاده سازی توسط آریابان.
            </div>
        </div>
    </div>

</div>
    
<script src="scripts/classie.js"></script>
<!-- script src="scripts/mainSlide.js"></script> -->
<script src="scripts/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
    
</body>
</html>
