<!doctype html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>مموریز، با مموریز ساده یاد بگیر</title>
    <meta name="description" content="با مموریز ساده و قانونمند یاد بگیرید، یه مسیر کوتاه و دوست داشتنی تا موفقیت" />
    <meta name="keywords" content="مموریز, تقویت حافظه, آموزش لغات, آموزش زبان, یادگیری آسان, حافظه بلند مدت, آموزش با کارت, یادگیری با کارت های حافظه, کارت های یادگیری, memoriz, memoriz app" />
    <meta name="author" content="رهیافت هوشمند آریابان, مموریز" />
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="logo.png" rel="icon" type="image/png">

    <link href="css/uicon.css" rel="stylesheet" type="text/css">
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    <link href="css/animations.css" rel="stylesheet" />
    <link href="css/gallery.css" rel="stylesheet" />
    <link href="css/gallery.theme.css" rel="stylesheet" />
    
    <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/starability-all.css" />
    
    <!--[if lt IE 8]>
      <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- <script src="../bower_components/jquery/dist/jquery.js"></script> -->
    <script src="js/jquery.js"></script>
    <!-- <script src="../bower_components/modernizr/src/Modernizr.js"></script> -->
    <!-- <script src="js/modernizr.js"></script> -->
    <script src="js/modernizr.custom.js"></script>
    
    <script src="scripts/tooltip.js"></script>
    <script src="js/jquery.remodal.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90613592-1', 'auto');
      ga('send', 'pageview');

    </script>
    
</head>
<body class="bodyBack">

<notify> <!-- notify place show -->
</notify> <!-- /notify place show -->
 
<notify-fix> <!-- notify-fix place show -->
</notify-fix> <!-- /notify-fix place show -->

<!--<section class="loader" style="display: none;">-->
<!--
<section class="loader">
    <ul class="bokeh">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="loaderTxt">لطفا شکیبا باشید ...!</div>
</section>
-->
    
<div class="full blockHeader">
    <div class="col12">
    <div id="gn-menu" class="col1">
        <a class="btnMenuHamSmall">
            <span class="icon" data-icon="&#xe419;"></span>
        </a>
        
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe22b;"></span>
                                    <span class="gnmenuTxt">صفحه نخست</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe070;"></span>
                                    <span class="gnmenuTxt">پروفایل من</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe1e2;"></span>
                                    <span class="gnmenuTxt">فیلترینگ دسته های من</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe1e1;"></span>
                                    <span class="gnmenuTxt">دسته های موجود</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe39c;"></span>
                                    <span class="gnmenuTxt">دریافت مستقیم برنامه</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe062;"></span>
                                    <span class="gnmenuTxt">تغییر کلمه عبور</span>
                                </a>
                            </li>
                            <li class="gnmenuItem">
                                <a href="#">
                                    <span class="icon" data-icon="&#xe265;"></span>
                                    <span class="gnmenuTxt">خروج از سیستم</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
        
    </div>
    <div class="col4">
        <div class="headerSlang">
            <span class="headerImg"><img src="images/memoriz.svg"></span>
            <span class="headerTxt">با مموریز ساده یاد بگیر</span>
        </div>
    </div>
    <div class="col2">
        <div class="headerLogo">
            <img src="images/memoriz logo icon.svg">
        </div>
    </div>
    <div class="col5">
        <div class="col blockHeaderBtnLogout">
            <a href="#" class="btnMenuModeSmallLogout">
                <span class="icon" data-icon="&#xe265;"></span>
            </a>
        </div>
        <div class="col blockHeaderBtnUser">
           <a href="#" class="btnMenuModeSmallIcon">
               <span class="icon" data-icon="&#xe22b;"></span>
            </a>
        </div>
        <div class="col blockHeaderBtnUser">
           <a href="#" class="btnMenuModeUserNo">
               <span class="icon" data-icon="&#xe070;"></span>
               <span class="txt">09121087533</span>
            </a>
        </div>
    </div>
    </div>
</div> 
    
<div class="row blockContentNew">
    
    <div class="limit">
        <div class="row block">
        
            <ul class="packCatFilteringPlace">



                <li class="packCatFiltering select">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                <li class="packCatFiltering">
                    <div class="packCatFilteringTitleIcon"><span class="icon" data-icon="&#xe2f2;"></span></div>
                    <div class="packCatFilteringTitle">نام گروه</div>
                </li>
                
            </ul>
        
        </div>
    </div>    

    <div class="limit">
    	<div class="row block">
            <div class="row">
                
                <div class="rowSelectDefault">
                    
                    
                    
                    <div class="col3 search-filter">
                        <ul>
                            
                            <li class="parent-Cat" ng-repeat="catItem in allCategory">
                                <h1 class="heading">زبان</h1>
                                <ul class="Category">
                                    <li>
                                        <a class="parent-layer2 selectLayer2">
                                            <span class="txt">زبان انگلیسی</span>
                                            <span class="number">(12)</span>
                                        </a>
                                        <ul class="child">
                                            <li>
                                                <a href="" class="catItemChild selectChildLayer2" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">گرامر</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="catItemChild" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">لغت</span>
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="parent-layer2">
                                            <span class="txt">زبان فرانسه</span>
                                            <span class="number">(1022)</span>
                                        </a>

                                        <ul class="child">
                                            <li>
                                                <a href="" class="catItemChild" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">گرامر</span>
                                                    <span class="number"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="catItemChild" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">لغت</span>
                                                    <span class="number"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                            <li class="parent-Cat" ng-repeat="catItem in allCategory">
                                <h1 class="heading">زبان ۲</h1>
                                <ul class="Category">
                                    <li>
                                        <a class="parent-layer2">
                                            <span class="txt">زبان انگلیسی</span>
                                            <span class="number">(12)</span>
                                        </a>
                                        <ul class="child">
                                            <li>
                                                <a href="" class="catItemChild" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">گرامر</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="catItemChild" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">لغت</span>
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="parent-layer2">
                                            <span class="txt">زبان فرانسه</span>
                                            <span class="number">(1022)</span>
                                        </a>

                                        <ul class="child">
                                            <li>
                                                <a href="" class="catItemChild" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">گرامر</span>
                                                    <span class="number"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="catItemChild" ng-repeat="catItemChild in catItemTag.childs">
                                                    <span class="txt">لغت</span>
                                                    <span class="number"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                    
                    
                    
                    <div class="col9">
                        <div class="content-filter-topbar">
                            
                            <div class="row">
                                <div class="col6 site-map">
                                    <ul>
                                        <li>گروه زبان</li>
                                        <li class="sep">
                                            <img src="images/patharrow.png" alt="">
                                        </li>
                                        <li>زبان انگلیسی</li>
                                        <li class="sep">
                                            <img src="images/patharrow.png" alt="">
                                        </li>
                                        <li>لغت</li>
                                    </ul>
                                </div>
                                <div class="col6">
                                    
                                    <div class="col10 inputSearchContentPlace">
                                        <input class="inputSearchContent" placeholder="جستجو">
                                        <span class="icon" data-icon=""></span>
                                    </div>
                                </div>
                            </div>
                        
                            
                            
                            <div class="row filter-select">
                                
                                <div class="col6">
                                   <div class="row">
                                        <div class="col4">
                                            <div class="dropdownDefaultT">
                                                <select class="formInputDefaultT">
                                                    <option>رنک</option>
                                                    <option>2</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col4">
                                            <div class="dropdownDefaultT">
                                                <select class="formInputDefaultT">
                                                    <option>موضوع</option>
                                                    <option>2</option>

                                                </select>
                                            </div>
                                        </div>
                                   </div>   
                                </div>
                                <div class="col6">
                                    <div class="result-counts">
                                        <span><strong>753</strong> دسته</span> 
                                        <span><strong>25,384</strong> کارت </span>
                                    </div>
                                    
                                </div>
                               
                            </div>
                            
                            
                            
                            <div class="filter-tag">
                                <ul >
                                    <li>
                                        <span class="filter-tag-item">
                                            زبان
                                            <a href="#" class="ilter-tag-itemDelete"><span class="icon" data-icon=""></span></a>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="filter-tag-item">
                                            504 واژه
                                            <a href="#" class="ilter-tag-itemDelete"><span class="icon" data-icon=""></span></a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            
                            
                            
                        </div>
                        
                        
                        
                        <div class="row content-filter">
                            <div class="row block">
                    
                            
                                <ul class="row packItemHomePlace">

                                    <li class="col6 ">
                                        <div class="row packItemHome">
                                            <div class=" panelHomePackPic"><div class="itemImg" style="background-image: url(imagesDeck/03.jpg)"></div></div>
                                            <div class=" packItemHomeTxtPlace">
                                                <div class="row panelHomePackTitle">
                                                    <div class="col">
                                                        نام بسته
                                                    </div>
                                                    <div class="col RankRowResultInItem">
                                                        <fieldset class="starability-basic-s">
                                                          <label >5 stars, amazing.</label>
                                                          <label class="check">4 stars, very good.</label>
                                                          <label class="check">3 stars, average.</label>
                                                          <label class="check">2 stars, not good.</label>
                                                          <label class="check">1 star, terrible.</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row panelHomePackDesc2">
                                                    توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span class="panelHomePackDesc">تعداد کارت ها:</span>
                                                        <span class="panelHomePackNo">۱۲۳</span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="row">
                                                    <span class="panelHomePackTag">تگ ها:</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                </div>
                                            </div>
                                            <div class="packItemHomeOver">
                                                <div class="col1"></div>
                                                <div class="col10">
                                                    <div class="row overBtnPlace">
                                                        <div class="col6">
                                                            <a class="btnDefault btnWhite">
                                                                <span class="icon" data-icon=""></span>
                                                                <span class="txt">توضیحات</span>
                                                            </a>
                                                        </div>
                                                        <div class="col6">
                                                            <a class="btnDefault btnWhite">
                                                                <span class="icon" data-icon=""></span>
                                                                <span class="txt">شروع یادگیری</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col6 ">
                                        <div class="row packItemHome">
                                            <div class=" panelHomePackPic"><div class="itemImg" style="background-image: url(imagesDeck/03.jpg)"></div></div>
                                            <div class=" packItemHomeTxtPlace">
                                                <div class="row panelHomePackTitle">
                                                    <div class="col">
                                                        نام بسته
                                                    </div>
                                                    <div class="col RankRowResultInItem">
                                                        <fieldset class="starability-basic-s">
                                                          <label >5 stars, amazing.</label>
                                                          <label class="check">4 stars, very good.</label>
                                                          <label class="check">3 stars, average.</label>
                                                          <label class="check">2 stars, not good.</label>
                                                          <label class="check">1 star, terrible.</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row panelHomePackDesc2">
                                                    توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span class="panelHomePackDesc">تعداد کارت ها:</span>
                                                        <span class="panelHomePackNo">۱۲۳</span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="row">
                                                    <span class="panelHomePackTag">تگ ها:</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                </div>
                                            </div>
                                            <div class="packItemHomeOver">
                                                <div class="col1"></div>
                                                <div class="col10">
                                                    <div class="row overBtnPlace">
                                                        <div class="col6">
                                                            <a class="btnDefault btnWhite">
                                                                <span class="icon" data-icon=""></span>
                                                                <span class="txt">توضیحات</span>
                                                            </a>
                                                        </div>
                                                        <div class="col6">
                                                            <a class="btnDefault btnWhite">
                                                                <span class="icon" data-icon=""></span>
                                                                <span class="txt">شروع یادگیری</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col6 ">
                                        <div class="row packItemHome">
                                            <div class=" panelHomePackPic"><div class="itemImg" style="background-image: url(imagesDeck/03.jpg)"></div></div>
                                            <div class=" packItemHomeTxtPlace">
                                                <div class="row panelHomePackTitle">
                                                    <div class="col">
                                                        نام بسته
                                                    </div>
                                                    <div class="col RankRowResultInItem">
                                                        <fieldset class="starability-basic-s">
                                                          <label >5 stars, amazing.</label>
                                                          <label class="check">4 stars, very good.</label>
                                                          <label class="check">3 stars, average.</label>
                                                          <label class="check">2 stars, not good.</label>
                                                          <label class="check">1 star, terrible.</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row panelHomePackDesc2">
                                                    توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span class="panelHomePackDesc">تعداد کارت ها:</span>
                                                        <span class="panelHomePackNo">۱۲۳</span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="row">
                                                    <span class="panelHomePackTag">تگ ها:</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                </div>
                                            </div>
                                            <div class="packItemHomeOver">
                                                <div class="col1"></div>
                                                <div class="col10">
                                                    <div class="row overBtnPlace">
                                                        <div class="col6">
                                                            <a class="btnDefault btnWhite">
                                                                <span class="icon" data-icon=""></span>
                                                                <span class="txt">توضیحات</span>
                                                            </a>
                                                        </div>
                                                        <div class="col6">
                                                            <a class="btnDefault btnWhiteToY">
                                                                <span class="icon" data-icon="&#xe603;"></span>
                                                                <span class="txt">افزودن به دسته فعال</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col6 ">
                                        <div class="row packItemHome">
                                            <div class=" panelHomePackPic"><div class="itemImg" style="background-image: url(imagesDeck/03.jpg)"></div></div>
                                            <div class=" packItemHomeTxtPlace">
                                                <div class="row panelHomePackTitle">
                                                    <div class="col">
                                                        نام بسته
                                                    </div>
                                                    <div class="col RankRowResultInItem">
                                                        <fieldset class="starability-basic-s">
                                                          <label >5 stars, amazing.</label>
                                                          <label class="check">4 stars, very good.</label>
                                                          <label class="check">3 stars, average.</label>
                                                          <label class="check">2 stars, not good.</label>
                                                          <label class="check">1 star, terrible.</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row panelHomePackDesc2">
                                                    توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته توضیحات مرتبط با این بسته
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span class="panelHomePackDesc">تعداد کارت ها:</span>
                                                        <span class="panelHomePackNo">۱۲۳</span>
                                                    </div>
                                                    
                                                </div>
                                                <div class="row">
                                                    <span class="panelHomePackTag">تگ ها:</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                    <span class="panelHomePackTag">زبان</span>
                                                    <span class="panelHomePackTag">لغت</span>
                                                    <span class="panelHomePackTag">گرامر</span>
                                                </div>
                                            </div>
                                            <div class="packItemHomeOver">
                                                <div class="col1"></div>
                                                <div class="col10">
                                                    <div class="row overBtnPlace">
                                                        <div class="col6">
                                                            <a class="btnDefault btnWhite">
                                                                <span class="icon" data-icon=""></span>
                                                                <span class="txt">توضیحات</span>
                                                            </a>
                                                        </div>
                                                        <div class="col6">

                                                            <div class="overBtnPlaceTxt">این مرحله از یادگیری انجام شده است</div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    
                                    
                                    
                                </ul>
                        
                                
                                <div class="content-filterPagingPlace">
                                    <div class="pagingCompFooter"> <!-- pagingCompFooter -->
                                        <div class="pagingNoRecPlace">
                                            <span class="noRecTxt">تعداد کل: </span>
                                            <span class="noRecAll">۲۰۰</span>
                                        </div>
                                        <div class="pagingPagesPlace">
                                            <ul class="paging">
                                                <li class="arrowRight">
                                                    <a href=""><span class="icon" data-icon="&#xe128;"></span></a>
                                                </li>
                                                <li class="select"><a href="">۱</a></li>
                                                <li><a href="">۲</a></li>
                                                <li><a href="">۳</a></li>
                                                <li><a href="">۴</a></li>
                                                <li class="more">
                                                    <a href=""><span class="icon" data-icon="&#xe094;"></span></a>
                                                </li>
                                                <li><a href="">۸</a></li>
                                                <li><a href="">۹</a></li>
                                                <li class="arrowLeft">
                                                    <a href=""><span class="icon" data-icon="&#xe129;"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pagingBlockLeftPlace">
                                            <div class="pagingNoPlace">
                                                <span class="noAll">۲۰</span>
                                                <span class="noSep">/</span>
                                                <span><input class="formInputDefault no" type="text" placeholder="شماره صفحه"></span>
                                            </div>
                                            <div class="pagingRowNoPlace">
                                                <select class="formInputDefault rowwNo">
                                                    <option>۱۰</option>
                                                    <option>۲۰</option>
                                                    <option>۳۰</option>
                                                    <option>۵۰</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> <!-- /pagingCompFooter -->
                                </div>
                                
                   
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                    
                    
                    
                </div>
                
            </div>
        </div>
    </div>

    <div class="limit">
        <div class="row block">
            <div class="col12 blockLFooterType">
                تمامی حقوق محفوظ میباشد و متعلق به موسسه است، توسعه و پیاده سازی توسط آریابان.
            </div>
        </div>
    </div>

</div>
    
<script src="scripts/classie.js"></script>
<!-- script src="scripts/mainSlide.js"></script> -->
<script src="scripts/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
    
</body>
</html>
