@charset "UTF-8";

@font-face {
  font-family: "aicon";
  src:url("../fonts/uicon.eot");
  src:url("../fonts/uicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/uicon.woff") format("woff"),
    url("../fonts/uicon.ttf") format("truetype"),
    url("../fonts/uicon.svg#uicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

.container {
	overflow: hidden;
}

/* This is the style for the dummy image slider. Animations are in fx[type].css */

.component {
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
	max-width: 100%;
    text-align: center;
}

.component-small {
/*
	width: 650px;
	height: 290px;
*/
    width: 480px;
	height: 130px;
}

.component-fullwidth {
	width: 100%;
	height: 600px;
	margin-bottom: 0;
	background: #333;
}

.component-transparent {
	width: 900px;
	height: 500px;
}

.component > ul {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 5px auto;
}

.component-small > ul {
/*	width: 450px;*/
    width: 420px;
}

.component-fullwidth > ul {
	overflow: hidden;
}

.component-transparent > ul {
	width: 112px;
}

.component li {
    position: relative;
    display: inline-blockin;
/*
	width: 100%;
	height: 100%;
*/
    width: 220px;
	height: 120px;
	position: absolute;
	top: 5;
    right: 25%;
    left: 25%;
    margin: 0px auto;
	pointer-events: none;
	opacity: 0;
	z-index: 999;
    overflow: hidden;
}

.component-fullwidth li {
	overflow: hidden;
}

.component .current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

.component li img {
	display: block;
	max-width: 100%;
    margin: 0px auto;
}

.component-fullwidth li img {
	min-width: 100%;
	max-width: none;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.component nav a {
	position: absolute;
	width: 44px;
	height: 44px;
    background-color: rgba(255, 255, 255, 0.35);
    color: rgba(0, 0, 0, 0.35);
	outline: none;
	overflow: hidden;
	text-align: center;
	line-height: 200px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
    &:hover {
        background-color: #3A4076 !important;
	   color: #89BBF8 !important;
    }
}

.component-small nav a.prev,
.component-transparent nav a.prev {
	left: 0px;
}

.component-small nav a.next,
.component-transparent nav a.next {
	right: 0px;
}

.component-fullwidth nav a {
	top: 100%;
	margin-top: 25px;
	left: 50%;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.component-fullwidth nav a.prev {
	margin-left: -80px;
}

.component-fullwidth nav a.next {
	margin-left: 20px;
}

.component nav a::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 44px;
	height: 100%;
	font-family: 'aicon';
	font-size: 32px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	opacity: 0.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.component nav a:hover::before {
	opacity: 1;
}

a.prev::before {
	content: "\e85f";
    padding-top: 4px;
}

a.next::before {
	content: "\e85e";
    padding-top: 4px;
}

@media screen and (max-width: 35.5em) {
	.component-small nav a {
		top: 100%;
		margin-top: 10px;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}

	.component-small nav a.prev {
		left: 50%;
		margin-left: -80px;
	}

	.component-small nav a.next {
		margin-left: 20px;
		right: auto;
		left: 50%;
	}
}










.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: transparent;
		color: #5f6f81;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: #5f6f81;
		text-decoration: none;
		cursor: pointer;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #5f6f81;
		color: white;
}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #3A3A3A;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		border-left: 1px solid #3A3A3A;
}

.gn-menu-main > li > a {
    color: #FFFFFF;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
    position: fixed;
    top: 64px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 60px;
    border-top: 1px solid #3A3A3A;
    background: #555555;
    -webkit-transform: translateX(+60px);
    -moz-transform: translateX(+60px);
    transform: translateX(+60px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
    
    z-index: 999;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 270px;
		height: 100%;
}

.gn-menu {
		border-bottom: 1px solid #3A3A3A;
		text-align: right;
		font-size: 18px;
}


.gn-menu li {
    display: block;
    position: relative;
    height: 43px;
    min-height: 43px;
    line-height: 43px;
    vertical-align: middle;
    &:hover {
        background-color: #3A3A3A !important;
        cursor: pointer;
    }
}
.gn-menu li.gnmenuItem {
    display: block;
    position: relative;
    height: 43px;
    min-height: 43px;
    line-height: 43px;
    vertical-align: middle;
    border-bottom: 1px solid #3A3A3A;
    &:hover {
        background-color: #3A3A3A !important;
        cursor: pointer;
    }
    a {
        color: #FFFFFF !important;
    }
}
.gn-menu li .icon {
    display: inline-block;
    position: relative;
    width: 43px;
    height: 43px;
    min-height: 43px;
    line-height: 43px;
    vertical-align: middle;
    font-size: 23px;
    padding: 6px 18px;
    margin: 2px;
    margin-left: 16px;
}
.gn-menu li .gnmenuTxt {
    font-size: 15px;
}

/*
.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #3A3A3A
}
*/

.gn-submenu li {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    &:hover {
        background-color: #3A3A3A;
        cursor: pointer;
    }
}

.gn-submenu li a {
/*    color: #c1c9d1*/
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-right: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #5f6f81;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}










/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #5f6f81;
		box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		background: #5993cd;
		box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 250px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}





