<script src="../controller/buyOkCtrl.js"></script>
<div class="row blockContentNew">

    <div class="limit">
        <div class="row block">

            <div class="row profilePlace">
                <div class="col6 panelProfileHomePlaceDivRight">
                    <div class="row panelProfileHomePlace">

                        <div class="col4 colM6 panelProfileHomePicPlace">
                            <div class="panelHomePackPicTop"><div class="itemImgPackGold"></div></div>
                        </div>

                        <div class="col8 colM6 panelProfileHomePlaceTxt">

                            <div class="row panelProfileHomeName">نام بسته</div>
                            <div class="row panelProfileHomeDesc">
                                <span class="icon" data-icon="&#xe02c;"></span><span>قیمت :</span>
                                <span class="panelProfileHomeDesc2">۵۷۰۰ تومان</span>
                            </div>
                            <div class="row panelProfileHomeDesc">
                                <span class="icon" data-icon="&"></span><span>تعداد : </span>
                                <span class="panelProfileHomeDesc2">همه کارت ها و بسته ها</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col4 panelProfileHomePlaceDiv">

                    <div class="row panelProfileHomeDesc">
                        <span class="icon" data-icon=""></span><span>فاکتور </span>
                    </div>

                </div>
            </div>


            <!--
                        <div class="col12 blockMessegeType success">
                            پیام موفقیت یا ...
                        </div>
                        <div class="col12 blockMessegeType alert">
                            پیام های توجه و ...
                        </div>
                        <div class="col12 blockMessegeType warning">
                            پیام های خطا و یا اخطار
                        </div>
            -->

            <div class="row contentPlace">
                <div class="col12">

                    <div class="row rowHeader01">
                        <div class="col12 contentPlaceBtnPlace">
                            <div class="col">
                                <a class="btnMenuModeTransparent" title="توضیحات راهنما" rel="tooltip">
                                    <span class="icon" data-icon="&#xe145;"></span>
                                </a>
                            </div>
                            <div class="col contentPlaceTitleOrange">
                                خرید بسته های ویژه
                            </div>
                        </div>
                        <div class="col3">
                        </div>
                    </div>
                    <!--
                                        <div class="row rowSelectHeader rowSelectHeaderDivider">
                                        </div>
                    -->







                    <div class="editPackagePage">
                        <div class="editPackageContent">

                            <div class="rowSelectDefault">
                                <div class="rowSelectExpandIn2">


                                    <div class="col4"></div>
                                    <div class="col4">
                                        <div class="row rowSpaceFormNew">
                                            <div class="col12 formInputLabelLargeOk">
                                                <span class="icon" data-icon="&#xe15f;"></span>
                                            </div>
                                        </div>
                                        <div class="row rowSpaceFormNew">
                                            <div class="col12 formInputLabelLargeOk">
                                                پرداخت شما تائید شد. <br>
                                                1232152452
                                            </div>
                                        </div>
                                        <!--<div class="row rowSpaceFormNew">
                                            <div class="col12 formInputLabelLargeNOk">
                                                <span class="icon" data-icon="&#xe159;"></span>
                                            </div>
                                        </div>-->
                                        <!--<div class="row rowSpaceFormNew">
                                            <div class="col12 formInputLabelLargeNOk">
                                                پرداخت شما با مشکل روبرو شد.<br>
                                                1232152452
                                            </div>
                                        </div>-->
                                        <div class="row rowSpaceFormNew">
                                            <div class="col12 formInputLabelLargeDefault">با پرداخت مبلغ (100000) از امکانات بسته (بسته ویژه) بهره مند خواهید شد</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row rowSelectFormBtnPlace">
                                <div class="col4"></div>
                                <div class="col2">
                                    <a href="index.html#/panel" class="btnPageOk btnColored">
                                        <span class="txt"><span class="icon" data-icon="&#xe052;"></span> ادامه</span>
                                    </a>
                                </div>
                                <div class="col2">
                                    <a href="" class="btnPageDetails">
                                        <span class="txt"><span class="icon" data-icon="&#xe264;"></span> ذخیره</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>




        </div>
    </div>
    <div class="limit">
        <div class="row block">
            <div class="col12 blockLFooterType">
                    تمامی حقوق محفوظ میباشد و متعلق به تیم مموریز است، توسعه و پیاده سازی توسط تیم مموریز.
                </div>
        </div>
    </div>
</div>