
<script src="controller/detailCtrl.js"></script>

<div class="row blockContentNew">
    <div class="limit">
        <div class="row block">
            <div class="row">
                <!--messageBox-->
                <div class="row _messageBox"></div>
                <!--messageBox-->
                <div class="rowSelectDefault">
                    <!-- tabs -->
                    <div class="sky-tabs sky-tabs-pos-right sky-tabs-anim-flip sky-tabs-response-to-icons">
                        <div style="">
                            <div class="deck-info">
                                <div class="itemImgIn" cover-pic="{{deckImageSource}}{{deckInfo.dec_info.image}}"></div>
                                <div class="row panelHomePackTitle">{{deckInfo.dec_info.name}}</div>
                                <div class="row panelHomePackDesc2">{{deckInfo.dec_info.description}}</div>
                                <div align="center" class="row">
                                    <span class="panelHomePackDesc-i">تعداد کارت ها:</span>
                                    <span class="panelHomePackNo-i ng-binding">{{deckInfo.dec_info.num_cards}}</span>
                                </div>

                                <div class="row btn-place" ng-if="!activationStatus">
                                    <a ng-click="decFavorite()" ng-if="!isFavorite" class="col12 btnDefault btnWhiteToY">
                                        <span class="icon" data-icon="&#xe4e7;"></span>
                                        <span class="txt ng-binding">افزودن</span>
                                    </a>
                                    <div class="col6" ng-if="(currentDeckNum.num_new!=0 || currentDeckNum.num_review !=0)">
                                        <a ng-click="decLearn(deckInfo,'detail')" ng-if="sessionUser && buyDeckFlag && isFavorite" class="col6 btnDefault btnWhiteToAbi">
                                            <span class="icon" data-icon=""></span>
                                            <span class="txt ng-binding">شروع یادگیری</span>
                                        </a>
                                    </div>
                                    <div class="col6" ng-if="(currentDeckNum.num_new!=0 || currentDeckNum.num_review !=0)">
                                        <a ng-click="decRemoveFavorite()" ng-if="sessionUser && buyDeckFlag && isFavorite" class="col6 btnDefault btnWhiteToGhermez">
                                            <span class="icon" data-icon=""></span>
                                            <span class="txt">حذف </span>
                                        </a>
                                    </div>
                                    <div class="col12" ng-if="(currentDeckNum.num_new==0 && currentDeckNum.num_review ==0)">
                                        <a ng-click="decRemoveFavorite()" ng-if="sessionUser && buyDeckFlag && isFavorite" class="col6 btnDefault btnWhiteToGhermez">
                                            <span class="icon" data-icon=""></span>
                                            <span class="txt">حذف </span>
                                        </a>
                                    </div>
                                </div>


                                <div class="row btn-place" ng-if="activationStatus && !sessionUser">
                                    <a ng-click="openLoginModal()" class="col12 btnDefault btnWhiteToY">
                                        <span class="icon" data-icon="&#xe4e7;"></span>
                                        <span class="txt ng-binding">افزودن</span>
                                    </a>
                                </div>

                            </div>

                        </div>

                        <input type="radio" name="sky-tabs" checked id="sky-tab1" class="sky-tab-content-1">
                        <label for="sky-tab1"><span class="border-bottom"><span><i class="icon" data-icon="&#xe05e;"></i>جزئیات دسته</span></span></label>

                        <input ng-show="buyDeckFlag" type="radio" name="sky-tabs" id="sky-tab2" class="sky-tab-content-2">
                        <label ng-show="buyDeckFlag" for="sky-tab2"><span class="border-bottom"><span><i class="icon" data-icon="&#xe091;"></i>نمایش کارت ها</span></span></label>

                        <input type="radio" name="sky-tabs" id="sky-tab3" class="sky-tab-content-3">
                        <label for="sky-tab3"><span class="border-bottom"><span><i class="icon" data-icon="&#xe03f;"></i>آمار و گزارش ها</span></span></label>

                        <input ng-show="isFavorite" type="radio" name="sky-tabs" id="sky-tab4" class="sky-tab-content-4">
                        <label ng-show="isFavorite" for="sky-tab4"><span class="border-bottom"><span><i class="icon" data-icon="&#xe0b0;"></i>تنظیمات</span></span></label>

                        <ul>
                            <li class="sky-tab-content-1">
                                <div class="typography">
                                    <div class="editPackagePage">
                                        <div class="editPackageContent">
                                            <div class="row rowSelectHeader">
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col">
                                                    </div>
                                                    <div class="col8 editPackageTitlePlace">
                                                        جزئیات دسته
                                                    </div>
                                                </div>
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col4 inputSearchContentPlace">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row rowSelectHeader rowSelectHeaderDivider">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col6 panelDetailsPackDescPlace-i">
                                            <div class="row">
                                                <div class="row panelHomePackTitle">{{deckInfo.dec_info.name}}</div>
                                                <div class="row RankRow">
                                                    <fieldset class="starability-basic">
                                                        <input type="radio" id="rate5" name="rating" value="5" />
                                                        <label ng-click="rankDeck(5)" for="rate5">5 stars, amazing.</label>

                                                        <input type="radio" id="rate4" name="rating" value="4" />
                                                        <label ng-click="rankDeck(4)" for="rate4">4 stars, very good.</label>

                                                        <input type="radio" id="rate3" name="rating" value="3" />
                                                        <label ng-click="rankDeck(3)" for="rate3">3 stars, average.</label>

                                                        <input type="radio" id="rate2" name="rating" value="2" />
                                                        <label ng-click="rankDeck(2)" for="rate2">2 stars, not good.</label>

                                                        <input type="radio" id="rate1" name="rating" value="1" />
                                                        <label ng-click="rankDeck(1)" for="rate1">1 star, terrible.</label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="row panelDetailsPackDesc">{{deckInfo.dec_info.description}}</div>
                                            <div ng-if="isFavorite" class="row">
                                                <span class="col10 panelHomePackLabel-i">تعداد کارت‌هایی که باید امروز برای اولین بار مطالعه کنید</span>
                                                <div class="col2 panelHomePackNoBlue">
                                                    {{currentDeckNum.num_new}}
                                                </div>
                                            </div>
                                            <div ng-if="isFavorite" class="row">
                                                <span class="col10 panelHomePackLabel-i">تعداد کارت‌هایی که قبلاً مطالعه کردید و امروز باید مرور نمایید</span>
                                                <div class="col2 panelHomePackNoRed">
                                                    {{currentDeckNum.num_review}}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col6">
                                            <h2>پیش نمایش کارت</h2>
                                            <div id="desCardPlace" class="cardPlace">
                                                <div id="desTabPreviewDeckCards" class="row cardPlaceLev">
                                                    <div class="flip-container" id="flip-toggle">
                                                        <div class="flipper">
                                                            <div class="front">
                                                                <div class="cardItem">
                                                                    <div id="frontContainer">
                                                                        <div id="preFront" ng-bind-html='toTrustedHTML(currentCard.front)'></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="back">
                                                                <div id="backContainer" class="cardItemBack">
                                                                    <div id="preBack" ng-bind-html='toTrustedHTML(currentCard.back)'></div>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row cardItemBtnPlace">
                                                    <div align="center" class="col12 cardItemBtnGroup">
                                                        <a id="btnPrev" class="cardItemBtn" ng-click="frontFlip('#flip-toggle'); previousCard('#desCardPlace')"><span class="icon" data-icon="&#xe247;"></span></a>
                                                        <a class="cardItemBtn" ng-click="toggleFlip('#flip-toggle')"><span class="icon" data-icon="&#xe029;"></span></a>
                                                        <a id="btnNext" class="cardItemBtn" ng-click="frontFlip('#flip-toggle'); nextCard('#desCardPlace');"><span class="icon" data-icon="&#xe248;"></span></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li ng-show="buyDeckFlag" class="sky-tab-content-2">
                                <div class="typography">
                                    <div class="editPackagePage">
                                        <div class="editPackageContent">
                                            <div class="row rowSelectHeader">
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col">
                                                    </div>
                                                    <div class="col8 editPackageTitlePlace">
                                                        نمایش کارت ها
                                                    </div>
                                                </div>
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col4 inputSearchContentPlace">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row rowSelectHeader rowSelectHeaderDivider">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col12">
                                            <div class="contentCardShow">
                                                <ul class="row contentCardSave">
                                                    <li ng-repeat="card in showCardsList">
                                                        <div class="col cardItemInfoEmpty02"></div>
                                                        <div class="col cardItem">
                                                            <div ng-bind-html='toTrustedHTML(card.front)'></div>
                                                        </div>
                                                        <div class="col cardItemBack">
                                                            <div ng-bind-html='toTrustedHTML(card.back)'></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>


                                            <div class="pagingCompFooter">
                                                <!-- gridCompFooter -->
                                                <div class="pagingNoRecPlace">
                                                    <span class="noRecTxt">تعداد کل: </span>
                                                    <span class="noRecAll">{{number_of_pages}}</span>
                                                </div>
                                                <div class="pagingPagesPlace">
                                                    <ul class="paging">
                                                        <li class="arrowRight"  ng-if="currentPage>1">
                                                            <a ng-click="setCurrent(currentPage-1)"><span class="icon" data-icon="&#xe128;"></span></a>
                                                        </li>
                                                        <li ng-repeat="page in pages" ng-class="page-1 == (currentPage) ? 'select' : ''">
                                                            <a ng-click="setCurrent(page-1)">{{page}}</a>
                                                        </li>
                                                        <li class="arrowLeft" ng-if="number_of_pages>5">
                                                            <a ng-click="setCurrent(currentPage+1)"><span class="icon" data-icon="&#xe129;"></span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pagingBlockLeftPlace">
                                                    <div class="pagingRowNoPlace">
                                                        <select ng-model="pageSize" ng-change="showCards(0)" class="formInputDefault rowwNo">
                                                            <option selected value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="15">15</option>
                                                            <option value="20">20</option>
                                                            <option value="25">25</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="sky-tab-content-3">
                                <div class="typography">
                                    <div class="editPackagePage">
                                        <div class="editPackageContent">

                                            <div class="row rowSelectHeader">
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col">

                                                    </div>
                                                    <div class="col8 editPackageTitlePlace">
                                                        آمار و گزارش ها
                                                    </div>
                                                </div>
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col4 inputSearchContentPlace">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row rowSelectHeader rowSelectHeaderDivider">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col12">
                                            <div class="row editPackagePage">
                                                <div class="editPackageContent">

                                                    <div ng-show="isFavorite" class="rowSelectDefault">

                                                        <div class="rowSelectExpandIn2">
                                                            <div class="row rowSpaceFormNew">
                                                                <div class="col5 formInputLabelTitle">تعداد کل کارت ها:</div>
                                                                <div class="col7 formInputLabelNormal">{{statisticsInfo.general_bar.total}}</div>
                                                            </div>
                                                            <div class="row rowSpaceFormNew">
                                                                <div class="col5 formInputLabelTitle">کارت هایی که به طور کامل یاد گرفته اید:</div>
                                                                <div class="col7 formInputLabelNormal">{{statisticsInfo.general_bar.learnt}}</div>
                                                            </div>
                                                            <div class="row rowSpaceFormNew">
                                                                <div class="col5 formInputLabelTitle">تعداد کارت های خوانده شده:</div>
                                                                <div class="col7 formInputLabelNormal">{{statisticsInfo.read}}</div>
                                                            </div>
                                                            <div class="row rowSpaceFormNew">
                                                                <div class="col5 formInputLabelTitle">تعداد کارت های خوانده نشده:</div>
                                                                <div class="col7 formInputLabelNormal">{{statisticsInfo.unread}}</div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col12">




                                            <div class="row editPackagePage">
                                                <div class="editPackageContent">
                                                    <div class="rowSelectDefault">

                                                        <div class="rowSelectExpandIn2">
                                                            <dl>
                                                                <dt>
                                                                    نمودار انتخابی آسان یا متوسط یا سخت
                                                                </dt>

                                                                <dd ng-if="statisticsInfo" id="chartEasy" class="percentage percentage-{{statisticsInfo.easy}}"><span class="text">آسان: {{statisticsInfo.easy}}%</span></dd>
                                                                <dd ng-if="statisticsInfo" id="chartMedium" class="percentage percentage-{{statisticsInfo.medium}}"><span class="text">متوسط: {{statisticsInfo.medium}}%</span></dd>
                                                                <dd ng-if="statisticsInfo" id="chartHard" class="percentage percentage-{{statisticsInfo.hard}}"><span class="text">سخت: {{statisticsInfo.hard}}%</span></dd>


                                                                <dd ng-if="!statisticsInfo" id="chartEasy" class="percentage percentage-0"><span class="text">آسان</span></dd>
                                                                <dd ng-if="!statisticsInfo" id="chartMedium" class="percentage percentage-0"><span class="text">متوسط</span></dd>
                                                                <dd ng-if="!statisticsInfo" id="chartHard" class="percentage percentage-0"><span class="text">سخت</span></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li ng-show="isFavorite" class="sky-tab-content-4">
                                <div class="typography">
                                    <div class="editPackagePage">
                                        <div class="editPackageContent">

                                            <div class="row rowSelectHeader">
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col">

                                                    </div>
                                                    <div class="col8 editPackageTitlePlace">
                                                        تنظیمات
                                                    </div>
                                                </div>
                                                <div class="col6 editPackageBtnPlace">
                                                    <div class="col4 inputSearchContentPlace">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row rowSelectHeader rowSelectHeaderDivider">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row itemSpace">
                                        <div class="editPackagePage">
                                            <div class="editPackageContent">
                                                <div class="rowSelectDefault">
                                                    <div class="rowSelectExpandIn2">
                                                        <div class="row rowSpaceFormNew">
                                                            <div class="col4 formInputLabelTitle">تعداد کارت جدید روزانه</div>
                                                            <div class="col1">
                                                                <div class="pagingRowNoPlace">
                                                                    <div class="quantity">
                                                                        <input ng-enter="saveDecksSettings()" ng-model="settings.countNewCards"
                                                                               class="formInputDefault" type="number"
                                                                               min="0" step="5" data-validation-require="true">
                                                                    </div>

                                                                    <script>
                                                                        jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
                                                                        jQuery('.quantity').each(function () {
                                                                            var spinner = jQuery(this),
                                                                              input = spinner.find('input[type="number"]'),
                                                                              btnUp = spinner.find('.quantity-up'),
                                                                              btnDown = spinner.find('.quantity-down'),
                                                                              min = input.attr('min'),
                                                                              max = input.attr('max');

                                                                            btnUp.click(function () {
                                                                                var oldValue = parseFloat(input.val());
                                                                                if (oldValue >= max) {
                                                                                    var newVal = oldValue;
                                                                                } else {
                                                                                    var newVal = oldValue + 5;
                                                                                }
                                                                                spinner.find("input").val(newVal);
                                                                                spinner.find("input").trigger("change");
                                                                            });

                                                                            btnDown.click(function () {
                                                                                var oldValue = parseFloat(input.val());
                                                                                if (oldValue <= min) {
                                                                                    var newVal = oldValue;
                                                                                } else {
                                                                                    var newVal = oldValue - 5;
                                                                                }
                                                                                spinner.find("input").val(newVal);
                                                                                spinner.find("input").trigger("change");
                                                                            });

                                                                        });

                                                                    </script>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row rowSelectFormBtnPlace">
                                                    <div class="col5"></div>
                                                    <div class="col2">
                                                        <a ng-click="saveDecksSettings()" class="btnPageOk">
                                                            <span class="txt"><span class="icon" data-icon="&#xe042;"></span> ذخیره</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--/ tabs -->
                </div>
            </div>
        </div>
    </div>
</div>
